/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.reviews-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.reviews-title {
    font-size: 2rem;
    margin: 0;
    color: #333;
    position: relative;
}


.reviews-subtitle {
    font-size: 1.5rem;
    color: #777;
    margin: 10px 0 40px;
}

/* Responsive Container for Review Cards */
.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Review Card Styles */
.review-card {
    background-color: rgb(51 44 196 / 10%);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.review-header {
    text-align: left;
}

.company-name {
    font-size: 1rem;
    font-weight: bold;
    color: #613915;
    margin: 0;
}

.star-rating {
    color: #fd5900;
}

.star-rating .star {
    font-size: 1rem;
}

.star-rating .star.empty {
    color: #ccc;
}

.review-content {
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.review-text {
    font-size: 0.9rem;
    color: #333;
    margin: 0 0 15px;
    position: relative;
    padding-left: 20px;
}

.reviewer-info {
    display: flex;
    align-items: center;
}

.reviewer-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.reviewer-name {
    font-size: 0.9rem;
    font-weight: bold;
    
}

/* Media Queries */
@media (max-width: 992px) {
    .reviews-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .reviews-container {
        grid-template-columns: 1fr;
    }
    .reviews-title {
        font-size: 1.5rem;
    }
    .reviews-subtitle {
        font-size: 1.2rem;
    }
}
