.ticket-listing{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ticket {
    background-color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    border-left: 5px solid var(--accent-color);
}
.ticket-upper, .ticket-lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ticket-upper p{
    color: var(--accent-color);
}
.ticket-lower{
    margin: 1rem 0 0;
}
.ticket-lower i{
    margin-left: .25rem;
}
.has-ac{
    margin-left: .5rem;
}
.ticket-price {
    background-color: #E0E0E0;
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--accent-color);
}
.fa-ticket{
    color: #000;
}
.view-seats-btn {
    margin: 1rem 0;
    background-color: #E0E0E0;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
    cursor: pointer;
}

/* bus seats */
.bus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0;
    width: 220px; 
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.last-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3px; 
}
.seat {
    width: 40px;
    height: 40px;
    background-color: #2C3E50;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
}
.gap {
    width: 40px;
}
.hide{
    display: none;
}
